.Film {

    background-color: lightgray;
    border-left: 7px solid black;
    margin: 10px;
    padding: 20px;
    width: 100%;
    height: 170px;
    display: flex;
    align-items: center;
}

img {
    width: 100px;
    height: 150px;
}

.Title {
    width: 200px;
    margin-left: 40px;
    text-align: left;
}

.Tag {
    width: 150px;
    color: white;

    border-radius: 8px;
    background-color: darkred;
    padding: 2px 8px 4px 8px;
    font-weight: bold;

}

.Time {
    padding: 9px;
    background-color: gray;
    color: black;
    font-weight: bolder;
    margin-left: 200px;
    float: right;
}